<p class="paragraph" *ngIf="!isValidToken">Sorry but token invalid.Please try again</p>
<form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()" *ngIf="isValidToken">
  <div class="form-header">
    <h1 class="header">Email Confirmed</h1>
    <p class="paragraph">Please enter your new password</p>
  </div>
  <div class="form-group">
    <label class="form-label label-password">
      <input type="password" class="form-control" placeholder="Password" formControlName="password"
      [ngClass]="{'is-invalid': submitted && f.password.errors}">
      <span *ngIf="f.password.errors.required">Password is required</span>
    </label>
  </div>
  <div class="form-group">
    <label class="form-label label-password">
      <input type="password" class="form-control"
      placeholder="Password again" formControlName="repeatPassword"
      [ngClass]="{ 'is-invalid': submitted && f.repeatPassword.errors}">
      <span *ngIf="submitted && f.repeatPassword.errors" class="invalid-feedback">
        <span *ngIf="f.repeatPassword.errors.required">Repeat password is required</span>
        <span *ngIf="f.repeatPassword.errors.mustMatch">Password must match</span>
      </span>
    </label>
  </div>
  <div class="form-group">
    <button class="button-sign-in button">
      Update Password
    </button>
  </div>
</form>
