<form [formGroup]="restorePasswordForm" (ngSubmit)="onSubmit()" *ngIf="!success">
  <div class="form-header">
    <div class="header">Restore Password</div>
  </div>
  <div class="form-group">
    <label class="form-label label-email">
      <input type="email" class="form-control" placeholder="Your email" formControlName="email" [ngClass]="{'is-invalid': submitted && f.email.errors }">
      <span *ngIf="submitted && f.email.errors" class="invalid-feedback">
        <span *ngIf="f.email.errors.required">Email is required</span>
      </span>
    </label>
  </div>
  <div class="form-group">
    <button class="button-sign-in button">
      <i *ngIf="loading" class="fa fa-spin fa-spinner"></i>
      Restore
    </button>
  </div>
  <div class="actions">
    <p>
      have a account? <a routerLink="/login" class="sign-in">Sign in</a>
    </p>
    <p>
      Don't have a account? <a routerLink="/register" class="sign-in">Register</a>
    </p>
  </div>
</form>
<p class="paragraph" *ngIf="success">Please visit your email for next instrucriond</p>
